In [1]:
import pandas as pd

# PART 1 of MEM output

In [33]:
df = pd.read_parquet('/Users/julianeoliveira/Documents/Projects/AESOP/Artigo Classification/results/mem_output_29_09_25.parquet')

In [34]:
df.r_j_estr.describe()

count    22280.000000
mean        17.472935
std          7.760936
min          0.000000
25%         12.000000
50%         18.000000
75%         23.000000
max         52.000000
Name: r_j_estr, dtype: float64

In [35]:
df[df.r_j_estr <= 3].co_ibge.nunique()

1363

In [36]:
df[df.r_j_estr <= 0]

,epiyear,r_j_estr,k_start,k_end,co_ibge,low_level,medium_level,high_level,baseline,epidemic_threshold
0,2022,0,1,0,110002,106.908106,127.896472,134.563530,60.000000,87.704546
0,2022,0,1,0,110005,38.674297,62.814177,72.072541,17.200000,39.533040
0,2022,0,1,0,110007,15.068420,29.969752,36.419710,3.192308,13.319118
1,2023,0,1,0,110009,136.893126,517.503105,754.457993,79.500000,125.585265
1,2023,0,1,0,110010,91.986466,178.396951,215.246467,48.130435,124.456167
...,...,...,...,...,...,...,...,...,...,...
0,2022,0,1,0,522108,12.206329,19.308670,21.989406,5.083333,14.209189
3,2025,0,1,0,522130,NaN,NaN,NaN,3.096774,30.544604
0,2022,0,1,0,522140,277.544970,370.811248,402.551075,163.680000,280.212375
0,2022,0,1,0,522145,50.715491,88.694962,103.924408,30.333333,104.137264
1,2023,0,1,0,522190,6.374379,10.945823,12.758922,2.190476,6.171424

In [37]:
df[(df.k_start == 1) & (df.r_j_estr == 0)].co_ibge.unique()

array([110002, 110005, 110007, ..., 522140, 522145, 522190], dtype=int32)

In [38]:
df[df.co_ibge == 110002]

,epiyear,r_j_estr,k_start,k_end,co_ibge,low_level,medium_level,high_level,baseline,epidemic_threshold
0,2022,0,1,0,110002,106.908106,127.896472,134.56353,60.0,87.704546
1,2023,17,10,26,110002,106.908106,127.896472,134.56353,60.0,87.704546
2,2024,24,3,26,110002,106.908106,127.896472,134.56353,60.0,87.704546
3,2025,26,1,26,110002,106.908106,127.896472,134.56353,60.0,87.704546