In [33]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import geopandas as gpd

# Read data

In [34]:
muni = pd.read_csv('/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/DTB_BRASIL_MUNICIPIO.csv',sep=';')

muni = muni[['UF', 'Nome_UF', 'Mesorregião Geográfica', 'Nome_Mesorregião',
       'Microrregião Geográfica', 'Nome_Microrregião', 'Município',
       'Código Município Completo', 'Nome_Município']]

muni = muni.assign(co_ibge6 = muni['Código Município Completo'].astype(str).str[0:6])

muni.co_ibge6 = muni.co_ibge6.astype(int)

In [35]:
mob = pd.read_parquet('/Users/julianeoliveira/Downloads/prob_spread.parquet')

In [36]:
df = pd.read_parquet('/Users/julianeoliveira/Downloads/aesop_2025_10_01_mun_withNewEnsIvas.parquet')

df = df[df.epiyear >= 2022]

In [37]:
#br_munis = gpd.read_file('/Users/julianeoliveira/Documents/Projects/AESOP/AESOP datalake/Shapefiles/BR_Municipios_2022/BR_Municipios_2022.shp')

In [38]:
dta1 = mob.copy()

dta1['origin_city'] = dta1['origin_city'].astype(str)

muni['Código Município Completo'] = muni['Código Município Completo'].astype(str)

In [39]:
dta1 = pd.merge(dta1, muni, left_on='origin_city', right_on='Código Município Completo', how='left')

In [14]:
set_mob_JF = dta1[(dta1.Nome_UF == 'Minas Gerais') & (dta1['Nome_Município'] == 'Juiz de Fora')]

In [45]:
set_mob_JF.groupby(['k'])['P'].max().reset_index()

   k     P
0  0  0.64
1  1  0.80
2  2  0.84
3  3  0.88
4  4  0.92
5  5  1.00

In [46]:
#muni[muni['Código Município Completo'] == '3105608']

In [25]:
#mob[(mob.origin_city == 1100015)] #& (mob.k == 1)]

# Start descriptive

## Map of the risk probability

In [41]:
dta1 = mob.groupby(['origin_city', 'k'])['average_neighbour_level_probability'].max().reset_index()

dta1['origin_city'] = dta1['origin_city'].astype(str)

muni['Código Município Completo'] = muni['Código Município Completo'].astype(str)

dta2 = dta1[dta1.k == 0]

dta_map_risk_k0 = pd.merge(muni, dta2, left_on='Código Município Completo', right_on='origin_city', how='left')

In [42]:
br_munis['CD_MUN'] = br_munis['CD_MUN'].astype(int)
dta_map_risk_k0['Código Município Completo'] = dta_map_risk_k0['Código Município Completo'].astype(int)

# Merge on IBGE code
gdf = br_munis.merge(dta_map_risk_k0, left_on='CD_MUN', right_on='Código Município Completo', how='left')

# Escolher uma semana e verificar a probabilidade de espalhamento considerando so os municípios que deram avisos

In [47]:
df[]

,co_ibge,epiyear,epiweek,atend_totais,atend_ivas,atend_arbov,atend_diarreicas,atend_0a11,year_week,epidemi_cal_start,...,sinal_mmaing_consec_ivas_012,sinal_mmaing_consec_arbov_012,sinal_ens_consec_ivas_012,sinal_ens_consec_arbov_012,sinal_otc_consec_ivas_012,sinal_aesop_consec_ivas_012,mem_surge,mem_surge_01,risk_probs,sinal_ens_ivas_new
302,110001,2022,42,648,31,1,0,131,2022-42,2022-10-16,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.385198,0.0
303,110001,2022,43,650,16,0,0,82,2022-43,2022-10-23,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.385198,0.0
304,110001,2022,44,558,20,1,0,132,2022-44,2022-10-30,...,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0.385198,0.0
305,110001,2022,45,677,32,1,1,88,2022-45,2022-11-06,...,0.0,0.0,1.0,2.0,0.0,0.0,0,0,0.201068,0.0
306,110001,2022,46,808,47,1,0,83,2022-46,2022-11-13,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.143579,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2534345,530010,2025,34,29157,267,48,14,657,2025-34,2025-08-17,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.038111,0.0
2534346,530010,2025,35,27702,355,51,11,641,2025-35,2025-08-24,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.038111,0.0
2534347,530010,2025,36,28197,354,46,14,662,2025-36,2025-08-31,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.038111,0.0
2534348,530010,2025,37,22,0,0,0,0,2025-37,2025-09-07,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.038111,0.0
2534349,530010,2025,38,0,0,0,0,0,2025-38,2025-09-14,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.038111,0.0

In [94]:
dta_week = df[df.year_week == '2023-34'][['co_ibge7', 'Aviso AESOP']] #2023-34

In [95]:
dta_week

         co_ibge7  Aviso AESOP
346       1100015            1
801       1100023            0
1256      1100031            0
1711      1100049            0
2166      1100056            0
...           ...          ...
2532421   5222005            1
2532876   5222054            1
2533331   5222203            0
2533786   5222302            0
2534241   5300108            0

[5563 rows x 2 columns]

In [44]:
dta1 = mob.groupby(['origin_city', 'k'])['average_neighbour_level_probability'].max().reset_index()

dta1['origin_city'] = dta1['origin_city'].astype(str)

muni['Código Município Completo'] = muni['Código Município Completo'].astype(str)

dta2 = dta1[dta1.k == 1]

dta_week['co_ibge7'] = dta_week['co_ibge7'].astype(str)

NameError: name 'dta_week' is not defined

In [97]:
dta_week = pd.merge(dta_week, dta2, left_on='co_ibge7', right_on='origin_city', how='left')

In [98]:
dta_map_risk_k1 = pd.merge(muni, dta_week, left_on='Código Município Completo', right_on='co_ibge7', how='left')

In [99]:
dta3 = dta_map_risk_k1[dta_map_risk_k1['Aviso AESOP'] == 1].sort_values(by = 'average_neighbour_level_probability', ascending=False)

In [126]:
dta3.to_csv('/Users/julianeoliveira/Downloads/dado1_2023_34.csv')

In [101]:
dta3

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município,co_ibge6,co_ibge7,Aviso AESOP,origin_city,k,average_neighbour_level_probability
1576,26,Pernambuco,5,Metropolitana de Recife,17,Recife,9600,2609600,Olinda,260960,2609600,1.0,2609600,1.0,0.607143
4788,43,Rio Grande do Sul,1,Noroeste Rio-grandense,3,Frederico Westphalen,9126,4309126,Gramado dos Loureiros,430912,4309126,1.0,4309126,1.0,0.559524
3908,35,São Paulo,1,São José do Rio Preto,1,Jales,56958,3556958,Vitória Brasil,355695,3556958,1.0,3556958,1.0,0.550000
430,17,Tocantins,2,Oriental do Tocantins,7,Jalapão,19004,1719004,Santa Tereza do Tocantins,171900,1719004,1.0,1719004,1.0,0.532258
3054,31,Minas Gerais,10,Sul/Sudoeste de Minas,52,Pouso Alegre,69059,3169059,Tocos do Moji,316905,3169059,1.0,3169059,1.0,0.526786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,15,Pará,5,Sudoeste Paraense,14,Itaituba,1006,1501006,Aveiro,150100,1501006,1.0,1501006,1.0,0.266667
668,22,Piauí,2,Centro-Norte Piauiense,5,Médio Parnaíba Piauiense,103,2200103,Agricolândia,220010,2200103,1.0,2200103,1.0,0.246914
2804,31,Minas Gerais,2,Norte de Minas,7,Montes Claros,47956,3147956,Patis,314795,3147956,1.0,3147956,1.0,0.242424
655,21,Maranhão,2,Oeste Maranhense,8,Pindaré,12274,2112274,Tufilândia,211227,2112274,1.0,2112274,1.0,0.216000
4208,41,Paraná,6,Oeste Paranaense,24,Foz do Iguaçu,21257,4121257,Ramilândia,412125,4121257,1.0,4121257,1.0,0.184783

In [103]:
#df[df.co_ibge7 == 3304904][['year_week', 'Aviso AESOP']][-60:]

In [63]:
# set origem as the city selected before

city = 3136702

set_muni_mob = mob[(mob.origin_city == city) & (mob.k == 1)]

In [68]:
muni[muni['Código Município Completo'] == '3136702']

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município,co_ibge6
2662,31,Minas Gerais,12,Zona da Mata,65,Juiz de Fora,36702,3136702,Juiz de Fora,313670

In [64]:
set_muni_mob

,neighbour,triggered,total_index_events,P,average_neighbour_level_probability,prob_at_least_one_neighbour_triggered,k,origin_city
231578,1709500,13,25,0.52,0.494194,1.0,1,3136702
231579,1718204,9,25,0.36,0.494194,1.0,1,3136702
231580,2905602,15,25,0.60,0.494194,1.0,1,3136702
231581,2910727,17,25,0.68,0.494194,1.0,1,3136702
231582,2910800,10,25,0.40,0.494194,1.0,1,3136702
...,...,...,...,...,...,...,...,...
231635,3549805,10,25,0.40,0.494194,1.0,1,3136702
231636,3549904,12,25,0.48,0.494194,1.0,1,3136702
231637,3550308,10,25,0.40,0.494194,1.0,1,3136702
231638,5107602,11,25,0.44,0.494194,1.0,1,3136702
231639,5300108,15,25,0.60,0.494194,1.0,1,3136702

In [69]:
lst_des_muni = list(set_muni_mob.neighbour.unique())

lst_des_muni.append(city)

lst = ['sigla_uf','co_uf','nm_uf',
 'nm_municipio','co_ibge',  'co_ibge7',
 'epiyear','epiweek','epidemi_cal_start', 'year_week',
 'atend_totais','atend_ivas',
 'sinal_ens_ivas','sinal_otc_ivas','Aviso AESOP',
 'alerta_vizinho', 'aviso_vizinho','sinais_vizinhos',
  'sinal_ens_ivas_new']

data1 = df[df.co_ibge7.isin(lst_des_muni)]

data1 = data1[lst]

In [70]:
# seleciona uma semana onde observamos um aviso no município selecionado (origem) e verificamos quando aparece aviso 
# nos destinos

#data2 = data1[(data1.year_week >= '2023-34') & (data1.year_week <= '2023-42')][['co_ibge7','year_week','Aviso AESOP']]

data2 = data1[['co_ibge7','year_week','Aviso AESOP']]

In [77]:
data2

         co_ibge7 year_week  Aviso AESOP
167823    1709500   2024-19            0
167824    1709500   2024-20            0
167825    1709500   2024-21            0
167826    1709500   2024-22            0
167827    1709500   2024-23            0
...           ...       ...          ...
2534280   5300108   2024-21            0
2534281   5300108   2024-22            1
2534282   5300108   2024-23            0
2534283   5300108   2024-24            0
2534284   5300108   2024-25            0

[441 rows x 3 columns]

In [71]:
data2 = data2[(data2.year_week >= '2024-19') & (data2.year_week <= '2024-25')]

In [72]:
table = pd.pivot_table(data2, values='Aviso AESOP', index=['co_ibge7'],
                   columns=['year_week'], aggfunc="sum")

In [73]:
table

year_week  2024-19  2024-20  2024-21  2024-22  2024-23  2024-24  2024-25
co_ibge7
1709500          0        0        0        0        0        0        1
1718204          1        0        0        0        0        0        0
2905602          0        0        1        0        0        0        0
2910727          0        0        0        1        0        1        0
2910800          0        0        0        0        0        0        0
...            ...      ...      ...      ...      ...      ...      ...
3549805          0        0        1        0        1        0        1
3549904          1        1        0        1        0        0        0
3550308          1        0        1        0        1        1        0
5107602          0        0        0        0        0        1        0
5300108          1        0        0        1        0        0        0

[63 rows x 7 columns]

In [74]:
table.to_csv('/Users/julianeoliveira/Downloads/dado2_ex_muni_3136702.csv')

In [75]:
mob[(mob.origin_city == 3136702)].to_csv('/Users/julianeoliveira/Downloads/dado3_conect_muni_3136702.csv')

In [76]:
# Cumulative 

table

year_week  2024-19  2024-20  2024-21  2024-22  2024-23  2024-24  2024-25
co_ibge7
1709500          0        0        0        0        0        0        1
1718204          1        0        0        0        0        0        0
2905602          0        0        1        0        0        0        0
2910727          0        0        0        1        0        1        0
2910800          0        0        0        0        0        0        0
...            ...      ...      ...      ...      ...      ...      ...
3549805          0        0        1        0        1        0        1
3549904          1        1        0        1        0        0        0
3550308          1        0        1        0        1        1        0
5107602          0        0        0        0        0        1        0
5300108          1        0        0        1        0        0        0

[63 rows x 7 columns]

In [129]:
df[['year_week','Aviso AESOP']]['Aviso AESOP'].sum()

169768

In [134]:
ts = df.groupby(['year_week'])['Aviso AESOP'].sum().reset_index()

In [135]:
ts

    year_week  Aviso AESOP
0     2022-42            0
1     2022-43            0
2     2022-44            0
3     2022-45            0
4     2022-46            1
..        ...          ...
148   2025-34          803
149   2025-35         1150
150   2025-36          570
151   2025-37         1217
152   2025-38          734

[153 rows x 2 columns]

In [136]:
ts['Aviso AESOP'].describe()

count     153.000000
mean     1109.594771
std       499.045911
min         0.000000
25%       820.000000
50%      1058.000000
75%      1374.000000
max      2865.000000
Name: Aviso AESOP, dtype: float64

In [138]:
round(1109*100/5570)

20